.hero-section {
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}

.container.hero-section-container {
  padding: 0;
}

.hero-container {
  padding-left: 106px;
  padding-bottom: 126px;
  padding-right: 0;
}

.logo-container {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 122px;
}

.button-container {
  display: flex;
  flex-direction: column;
  max-width: 238px;
  gap: 16px;
}

.section-title.hero-section--title {
  color: var(--blue-primary-color);
  max-width: 529px;
  overflow-wrap: break-word;
  font-size: 140px;
  line-height: 0.82;
  margin-bottom: 40px;
  text-align: left;
}

.hero-text {
  line-height: 1.17;
  margin-bottom: 16px;
}

.hero-info {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 12px;
  text-align: center;
}
