.info-section {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  &__text-container {
    width: 59%;
    padding-top: 40px;
  }

  &__title {
    max-width: 529px;
    margin-bottom: 40px;
    text-align: left;
  }

  &__text {
    font-size: 22px;
    margin-bottom: 0;
  }

  &__text:nth-child(3) {
    margin-bottom: 40px;
  }

  &__img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 41%;
    height: 100%;
    gap: 40px;
  }

  &__image-before {
    max-width: 327px;
  }

  &__image-after {
    max-width: 327px;
    margin: 0 0 0 auto;
    border-radius: 100%;
  }
}
